*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: black;

}
body{
    background-color: black;
    min-height: 800px;
    
}
#wraper
{
    background-color: black ;
    height: 100vh;
}
.Head{
    margin: 60px;
    padding: 10px;
    border: #fff dotted 1px;
    

}

#btnshow{
    letter-spacing: 2px;
    padding:2px 10px 2px 10px;
    background-color: yellowgreen;
    border: 0;
    color: black;
    cursor: pointer;
}

#btnstart{

    letter-spacing: 2px;
    padding:2px 10px 2px 10px;
    background-color: yellowgreen;
    border: 0;
    
    cursor: pointer;
}
label{
color: #fff;
font-size: 14px;
margin-left: 20px;
}

#Startactive , #Endactive , #Obsactive{
    display: none;
  
}
div p{
    color: #fff;
    padding: 20px;
    margin: 40px ;
    border: 1px dotted;
}

#map{
    
    margin: auto;
    background-color: #000;
    border: burlywood solid 4px;
    max-width: 960px;
    max-height:auto;
    display: grid;
    grid-template-columns: repeat(60, minmax(2px, 1fr));
}

#map > div {
 
    border: 0.01px solid;
    color: #fff;
  }


#map > div::before {
  width: calc(100% / 40);
  height: calc(100% / 40);
  content: "";
  padding-bottom: 100%;
  display: block;
}

.white{
background-color: #fff;
}
.black{
    background-color: #000;
}