@font-face{
    font-family: corrupted;
    src: url('../fonts/Corrupted\ File.ttf') format('embedded-opentype'),
    url('../fonts/Corrupted\ File.ttf') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Corrupted\ File.ttf') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Corrupted\ File.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Corrupted\ File.ttf') format('svg'); /* Legacy iOS */
}

@font-face{
    font-family: hacker;
    src: url('../fonts/Elite\ Hacker\ \(Corroded\).ttf') format('embedded-opentype'),
    url('../fonts/Elite\ Hacker\ \(Corroded\).ttf') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Elite\ Hacker\ \(Corroded\).ttf') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Elite\ Hacker\ \(Corroded\).ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Elite\ Hacker\ \(Corroded\).ttf') format('svg'); /* Legacy iOS */
}

@keyframes blink
{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  'Courier New', Courier, monospace;
    font-size: 12px;
    color: black;
    cursor: url(../imgs/cr.png)  0 0, default;

}
body{
    background-color: black;
}

#wraper
{
}


H1
{
    font-size: 50px;
    color: green;
    font-weight: normal;
    text-align: center;
    margin-top:  60px ;
    margin-bottom: 20px ;
}


.Head{
    margin: auto;
	border: green solid 1px;  
    max-width: 960px;
    max-height:auto;
    margin-bottom: 40px ;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.corrupted
{
    font-family: 'corrupted' !important;
}

.SpecialBtn
{
    background-color: transparent;
    color: green;
}

o
{
    margin-left: 5px;
    color: greenyellow;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

._b x{
    animation: blink .7s infinite;
    font-family: 'hacker';
    font-size: 18px;
    letter-spacing: 2px;
    color: black;    
}

button{

    font-size: 18px;
    letter-spacing: 2px;
    padding:2px 10px 2px 10px;
    background-color: green;
    border: 0;
    color: black;    
    /* cursor: pointer; */
    font-family: 'hacker';
    outline: none;
    border-radius: 0;
}

._b
{

    padding:2px 10px 2px 10px;
    background-color: green;
    border: 0;
    /* cursor: default; */
    outline: none;
}

#map{
    
    margin: auto;
    background-color: #000;
	border: green solid 1px;  
    max-width: 960px;
    max-height:auto;
    display: grid;
    cursor: cell;
    grid-template-columns: repeat(60, minmax(2px, 1fr));
	background-color:rgba(61, 204, 0, 0.2);
}

#map > div 
{ 
	background-color:#000;
	margin: 1px;
    cursor: cell;
}

#map > div:active
{ 
	background-color:white;
	margin: 1px;
}


#map > div::before {
  width: calc(100% / 60);
  height: calc(100% / 60);
  content: "";
  padding-bottom: 100%;
  display: block;
}

#infos , #infos *
{
    color: green;
    font-size: 11px;
    font-family: 'tahoma';
}

#infos
{
    text-align: left;
    margin: auto;

    max-width: 960px;
    max-height:auto;
    margin-bottom: 40px ;
}

.err_p
{
    color:rgb(13, 214, 6);
    animation: blink 1s 5 ease-in;
    font-size: 20px;   
}